<li><a class="dropdown-item" data-action="login" href="javascript:void(0);"><i class="fas fa-sign-in-alt"></i> {{ 'auth_menu_login'|trans }}</a></li>
<li><a class="dropdown-item" data-action="register" href="javascript:void(0);"><i class="fas fa-user-plus"></i> {{ 'auth_menu_register'|trans }}</a></li>
