/* Profile and Language Dropdowns */
.language-dropdown .nav-link {
    padding: 0.4rem;
    display: flex;
    align-items: center;
    height: 40px;
}

.language-dropdown .fa-globe {
    font-size: 1.25rem;
    color: var(--primary-color);
}

.language-dropdown .language-code {
    margin-left: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.language-dropdown .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-dropdown .dropdown-item::after {
    content: attr(data-lang);
    font-weight: bold;
    text-transform: uppercase;
}

/* Language Dropdown Active State */
.dropdown-item.active {
    background-color: #e9ecef;
    color: #212529;
    font-weight: bold;
}