<div class="offcanvas offcanvas-bottom" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="cookieConsent" aria-labelledby="cookieConsentLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="cookieConsentLabel">Cookie Consent</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>We use cookies to enhance your browsing experience and analyze our traffic. Please choose your preference below.</p>
        <div class="d-flex justify-content-end gap-2">
            <button type="button" class="btn btn-secondary" id="rejectCookies">Reject</button>
            <button type="button" class="btn btn-primary" id="acceptCookies">Accept</button>
        </div>
    </div>
</div>
