.password-wrapper {
    position: relative;
    margin-bottom: 2rem; /* Increased margin between password wrappers */
}

#forgotPasswordModal form input {
    margin-bottom: 2rem;
}

#forgotPasswordModal form .form-group {
    margin-bottom: 1rem;
}

#forgotPasswordModal form .form-group .invalid-feedback {
    display: none;
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: #dc3545;
}

#forgotPasswordModal form .form-control.is-invalid ~ .invalid-feedback {
    display: block;
}

#forgotPasswordModal form .form-group:has(.is-invalid) {
    margin-bottom: 2rem;
}

.card {
    max-width: 500px; /* Increased max-width */
    width: 100%; /* Allow full width within the column */
    margin-left: auto;
    margin-right: auto;
}