{% block account_settings %}
{#<div class="account-settings">#}
{#    <h2>Account Settings</h2>#}
{#    <div class="form-group">#}
{#        <label for="username">Username</label>#}
{#        <input type="text" id="username" name="username" value="{{ user.username }}" readonly>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="email">Email Address</label>#}
{#        <input type="email" id="email" name="email" value="{{ user.email }}">#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="password">Change Password</label>#}
{#        <input type="password" id="current_password" name="current_password" placeholder="Current Password">#}
{#        <input type="password" id="new_password" name="new_password" placeholder="New Password">#}
{#        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm New Password">#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label>#}
{#            <input type="checkbox" name="two_factor" value="1">#}
{#            Enable Two-Factor Authentication#}
{#        </label>#}
{#    </div>#}
{#</div>#}
{% endblock %}
