includes:
    - ../code/vendor/phpstan/phpstan-symfony/extension.neon
    - ../code/vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 9
    paths:
        - ../code/src
    excludePaths:
        - '../code/src/Healthcheck/Presentation/Console/*'