#------------------------------------------------------------------------------
# Available services configuration. To enable a service, uncomment the corresponding line below.
#------------------------------------------------------------------------------

server=nginx            # Web Server: nginx, apache
;database=postgres      # Database Service: postgres, mysql
;nosql=mongodb          # NoSQL Database Service: mongodb, cassandra
;cache=redis            # Cache Service: redis, memcached
;search=elasticsearch   # Search: elasticsearch, solr
;message=kafka          # Message Broker: rabbitmq, kafka
;docs=swagger           # API Documentation: swagger
;mailer=mailhog         # Mail Sandbox: mailhog, papercut
;monitoring=grafana     # Monitoring: grafana, zabbix
;logs=kibana            # Log Management: kibana, graylog
;job=cron               # Scheduling Jobs: cron